[submodule "project-1-educational-outcomes-and-wealth-inequity"]
	path = project-1-educational-outcomes-and-wealth-inequity
	url = git@github.com:dmehta94/project-1-educational-outcomes-and-wealth-inequity
[submodule "project-2-ames-housing-prediction"]
	path = project-2-ames-housing-prediction
	url = git@github.com:dmehta94/project-2-ames-housing-prediction
[submodule "project-3-reddit-nlp-litigation-analysis"]
	path = project-3-reddit-nlp-litigation-analysis
	url = git@github.com:dmehta94/project-3-reddit-nlp-litigation-analysis
[submodule "project-5-new-york-state-of-energy"]
	path = project-5-new-york-state-of-energy
	url = git@github.com:dmehta94/project-5-new-york-state-of-energy
[submodule "project-capstone-transit-inequity-eastern-queens"]
	path = project-capstone-transit-inequity-eastern-queens
	url = git@github.com:dmehta94/project-capstone-transit-inequity-eastern-queens
[submodule "ai-resume-optimizer"]
	path = ai-resume-optimizer
	url = https://github.com/dmehta94/ai-resume-optimizer/
